<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.taxicop"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".TaxiCop"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity android:name=".Consultas"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
			android:launchMode="standard">
		</activity>
		 <activity android:name=".Denuncias"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
			android:launchMode="standard">
		</activity>
		<activity android:name="Sincronizacion"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
			android:launchMode="standard">
		</activity>
		<provider android:name="com.taxicop.data.DataContentProvider"
			android:authorities="com.taxicop.taxicop" />

    </application>
</manifest>